__pycache__/
*.pyc
.venv/
venv/
.env

datasets/raw/*
!datasets/raw/.gitkeep
datasets/processed/*
!datasets/processed/.gitkeep
outputs/*
!outputs/detections/
!outputs/detections/.gitkeep
!outputs/frames/
!outputs/frames/.gitkeep
!outputs/visualizations/
!outputs/visualizations/.gitkeep
models/**/*.pt
models/**/*.pth
models/**/*.onnx

.DS_Store
Thumbs.db
